.vscode/launch.json
.vscode/tasks.json
src/bin/Debug/net5.0/appsettings.Development.json
src/bin/Debug/net5.0/appsettings.json
src/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
src/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
src/bin/Debug/net5.0/Microsoft.OpenApi.dll
src/bin/Debug/net5.0/src.deps.json
src/bin/Debug/net5.0/src.dll
src/bin/Debug/net5.0/src.pdb
src/bin/Debug/net5.0/src.runtimeconfig.dev.json
src/bin/Debug/net5.0/src.runtimeconfig.json
src/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
src/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
src/bin/Debug/net5.0/ref/src.dll
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/src.csproj.nuget.dgspec.json
src/obj/src.csproj.nuget.g.props
src/obj/src.csproj.nuget.g.targets
src/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/obj/Debug/net5.0/project.razor.json
src/obj/Debug/net5.0/src.AssemblyInfo.cs
src/obj/Debug/net5.0/src.AssemblyInfoInputs.cache
src/obj/Debug/net5.0/src.assets.cache
src/obj/Debug/net5.0/src.csproj.AssemblyReference.cache
src/obj/Debug/net5.0/src.csproj.CopyComplete
src/obj/Debug/net5.0/src.csproj.CoreCompileInputs.cache
src/obj/Debug/net5.0/src.csproj.FileListAbsolute.txt
src/obj/Debug/net5.0/src.csprojAssemblyReference.cache
src/obj/Debug/net5.0/src.dll
src/obj/Debug/net5.0/src.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net5.0/src.genruntimeconfig.cache
src/obj/Debug/net5.0/src.MvcApplicationPartsAssemblyInfo.cache
src/obj/Debug/net5.0/src.MvcApplicationPartsAssemblyInfo.cs
src/obj/Debug/net5.0/src.pdb
src/obj/Debug/net5.0/src.RazorTargetAssemblyInfo.cache
src/obj/Debug/net5.0/ref/src.dll
src/obj/Debug/net5.0/staticwebassets/src.StaticWebAssets.Manifest.cache
src/obj/Debug/net5.0/staticwebassets/src.StaticWebAssets.xml
