.vscode/launch.json
.vscode/tasks.json
src/bin/Debug/net5.0/appsettings.Development.json
src/bin/Debug/net5.0/appsettings.json
src/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
src/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
src/bin/Debug/net5.0/Microsoft.OpenApi.dll
src/bin/Debug/net5.0/src.deps.json
src/bin/Debug/net5.0/src.dll
src/bin/Debug/net5.0/src.pdb
src/bin/Debug/net5.0/src.runtimeconfig.dev.json
src/bin/Debug/net5.0/src.runtimeconfig.json
src/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
src/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
src/bin/Debug/net5.0/ref/src.dll
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/src.csproj.nuget.dgspec.json
src/obj/src.csproj.nuget.g.props
src/obj/src.csproj.nuget.g.targets
src/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/obj/Debug/net5.0/project.razor.json
src/obj/Debug/net5.0/src.AssemblyInfo.cs
src/obj/Debug/net5.0/src.AssemblyInfoInputs.cache
src/obj/Debug/net5.0/src.assets.cache
src/obj/Debug/net5.0/src.csproj.AssemblyReference.cache
src/obj/Debug/net5.0/src.csproj.CopyComplete
src/obj/Debug/net5.0/src.csproj.CoreCompileInputs.cache
src/obj/Debug/net5.0/src.csproj.FileListAbsolute.txt
src/obj/Debug/net5.0/src.csprojAssemblyReference.cache
src/obj/Debug/net5.0/src.dll
src/obj/Debug/net5.0/src.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net5.0/src.genruntimeconfig.cache
src/obj/Debug/net5.0/src.MvcApplicationPartsAssemblyInfo.cache
src/obj/Debug/net5.0/src.MvcApplicationPartsAssemblyInfo.cs
src/obj/Debug/net5.0/src.pdb
src/obj/Debug/net5.0/src.RazorTargetAssemblyInfo.cache
src/obj/Debug/net5.0/ref/src.dll
src/obj/Debug/net5.0/staticwebassets/src.StaticWebAssets.Manifest.cache
src/obj/Debug/net5.0/staticwebassets/src.StaticWebAssets.xml
.DS_Store
src/bin/Debug/net5.0/Bowling.deps.json
src/bin/Debug/net5.0/Bowling.dll
src/bin/Debug/net5.0/Bowling.pdb
src/bin/Debug/net5.0/Bowling.runtimeconfig.dev.json
src/bin/Debug/net5.0/Bowling.runtimeconfig.json
src/bin/Debug/net5.0/ref/Bowling.dll
src/obj/Bowling.csproj.nuget.dgspec.json
src/obj/Bowling.csproj.nuget.g.props
src/obj/Bowling.csproj.nuget.g.targets
src/obj/Debug/net5.0/Bowling.AssemblyInfo.cs
src/obj/Debug/net5.0/Bowling.AssemblyInfoInputs.cache
src/obj/Debug/net5.0/Bowling.assets.cache
src/obj/Debug/net5.0/Bowling.csproj.CopyComplete
src/obj/Debug/net5.0/Bowling.csproj.CoreCompileInputs.cache
src/obj/Debug/net5.0/Bowling.csproj.FileListAbsolute.txt
src/obj/Debug/net5.0/Bowling.csprojAssemblyReference.cache
src/obj/Debug/net5.0/Bowling.dll
src/obj/Debug/net5.0/Bowling.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net5.0/Bowling.genruntimeconfig.cache
src/obj/Debug/net5.0/Bowling.MvcApplicationPartsAssemblyInfo.cache
src/obj/Debug/net5.0/Bowling.MvcApplicationPartsAssemblyInfo.cs
src/obj/Debug/net5.0/Bowling.pdb
src/obj/Debug/net5.0/Bowling.RazorTargetAssemblyInfo.cache
src/obj/Debug/net5.0/ref/Bowling.dll
src/obj/Debug/net5.0/staticwebassets/Bowling.StaticWebAssets.Manifest.cache
src/obj/Debug/net5.0/staticwebassets/Bowling.StaticWebAssets.xml
tests/BowlingTests/bin/Debug/net5.0/appsettings.Development.json
tests/BowlingTests/bin/Debug/net5.0/appsettings.json
tests/BowlingTests/bin/Debug/net5.0/Bowling.dll
tests/BowlingTests/bin/Debug/net5.0/Bowling.pdb
tests/BowlingTests/bin/Debug/net5.0/BowlingTests.deps.json
tests/BowlingTests/bin/Debug/net5.0/BowlingTests.dll
tests/BowlingTests/bin/Debug/net5.0/BowlingTests.pdb
tests/BowlingTests/bin/Debug/net5.0/BowlingTests.runtimeconfig.dev.json
tests/BowlingTests/bin/Debug/net5.0/BowlingTests.runtimeconfig.json
tests/BowlingTests/bin/Debug/net5.0/Castle.Core.dll
tests/BowlingTests/bin/Debug/net5.0/FluentAssertions.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.OpenApi.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
tests/BowlingTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
tests/BowlingTests/bin/Debug/net5.0/Moq.dll
tests/BowlingTests/bin/Debug/net5.0/Newtonsoft.Json.dll
tests/BowlingTests/bin/Debug/net5.0/NuGet.Frameworks.dll
tests/BowlingTests/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
tests/BowlingTests/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
tests/BowlingTests/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
tests/BowlingTests/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
tests/BowlingTests/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
tests/BowlingTests/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
tests/BowlingTests/bin/Debug/net5.0/testhost.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.abstractions.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.assert.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.core.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.execution.dotnet.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
tests/BowlingTests/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
tests/BowlingTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ref/BowlingTests.dll
tests/BowlingTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
tests/BowlingTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/BowlingTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/BowlingTests/obj/BowlingTests.csproj.nuget.dgspec.json
tests/BowlingTests/obj/BowlingTests.csproj.nuget.g.props
tests/BowlingTests/obj/BowlingTests.csproj.nuget.g.targets
tests/BowlingTests/obj/project.assets.json
tests/BowlingTests/obj/project.nuget.cache
tests/BowlingTests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.AssemblyInfo.cs
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.AssemblyInfoInputs.cache
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.assets.cache
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.csproj.AssemblyReference.cache
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.csproj.CopyComplete
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.csproj.CoreCompileInputs.cache
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.csproj.FileListAbsolute.txt
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.csprojAssemblyReference.cache
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.dll
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.GeneratedMSBuildEditorConfig.editorconfig
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.genruntimeconfig.cache
tests/BowlingTests/obj/Debug/net5.0/BowlingTests.pdb
tests/BowlingTests/obj/Debug/net5.0/ref/BowlingTests.dll
